@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.new-field-chip {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  font-family: Montserrat;
  font-weight: 500;
  align-items: center;
  margin-bottom: 12px
}

.field-type-text {
  display: flex;
  font-size: 1.2rem;
  width: 5%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.588);
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
}

.field-name-text {
  margin-left: 14px;
  font-size: 1.1rem;
  width: 36%;
}

.field-type-text-2 {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.429);
  width: 50%;
}

.action-buttons-div {
  display: flex;
  width: 5%;
  justify-content: space-between;
}