@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.new-types-header {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  color: rgb(63, 63, 63);
  margin-bottom: 20px
}

.content-types-container {
  display: flex;
  height: 94vh;
  font-family: Montserrat;
}

.new-types-column {
  padding: 30px;
  background-color: rgb(182, 175, 187);
}

.new-type-button {
  width: 100%;
  height: 5.5%;
  border-radius: 10px;
  border: 2px dotted rgb(69, 32, 255);
  color: rgb(69, 32, 255);
  font-weight: bolder;
  font-family: Montserrat;
  margin-bottom: 10px;
}

.new-fields-column {
  background-color: rgb(233, 225, 250);
  width: 100%;
  padding: 30px;
  font-size: 1.8rem;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.797);
}

.fields-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.797);
  margin-bottom: 20px;
}

.new-fields-heading {
  display: flex;
}

.new-fields-heading p {
  margin-right: 10px;
}

.new-fields-heading img {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

.field-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 2px dotted rgb(69, 32, 255);
  font-family: Montserrat;
  color: rgb(69, 32, 255);
  font-weight: bolder;
  margin-bottom: 20px;
  background: white;
}